# -*- coding: utf-8 -*-
# vim: ft=jinja

{% set liberhorodatage = salt['grains.filter_by']({
    'default': {
        'dist': {
        'url': 'http://ftp.adullact.org/deploiement/l/liberhorodatage-v1.1.tar.gz',
        'hash': 'md5=232844e14cd73494e76caf6590c17dba',
        },

    },
}, merge=salt['pillar.get']('liberhorodatage:lookup')) %}
